name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  internal-tests:
    name: Internal tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions-rs/toolchain@v1
        with:
          components: clippy,rustfmt
          override: true
          profile: minimal
          toolchain: nightly-2025-10-31

      - uses: Swatinem/rust-cache@v2

      - run: .scripts/internal-tests.sh

  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions-rs/toolchain@v1
        with:
          components: clippy,rustfmt
          override: true
          profile: minimal
          toolchain: nightly-2025-10-31

      - uses: Swatinem/rust-cache@v2

      - run: .scripts/integration-tests.sh
        env:
          HYPERLIQUID_SK: ${{ secrets.HYPERLIQUID_SK }}

          MERCADO_PAGO_CLIENT_ID: ${{ secrets.MERCADO_PAGO_CLIENT_ID }}
          MERCADO_PAGO_CLIENT_SECRET: ${{ secrets.MERCADO_PAGO_CLIENT_SECRET }}

          OLIST_ACCESS_TOKEN: ${{ secrets.OLIST_ACCESS_TOKEN }}
          OLIST_CLIENT_ID: ${{ secrets.OLIST_CLIENT_ID }}
          OLIST_CLIENT_SECRET: ${{ secrets.OLIST_CLIENT_SECRET }}

          SOLANA_SK: ${{ secrets.ALICE_SK }}

          SUPER_FRETE_TOKEN: ${{ secrets.SUPER_FRETE_TOKEN }}

          VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
          VAULT_URI: ${{ secrets.VAULT_URI }}
